---
const { title, src, bg } = Astro.props;
---

<div
  class={` py-[61px] w-[625px] flex flex-col justify-center items-center rounded-[15px] ${bg}`}
>
  <div class="flex flex-col justify-center items-center gap-[26px]">
    <img src={src} alt="" class="h-[93px] w-[92px]" />
    <p class="font-medium text-[32px] text-[white]">{title}</p>
  </div>
</div>
