---
const { src } = Astro.props;
---

<div
    class="max-w-[406px] max-h-[283px] rounded-[15px] border-1-[#E3E3E3] border"
>
    <img
        class="w-full h-full rounded-[15px] border-1-[#E3E3E3] border"
        src={src}
        alt=""
    />
</div>
