<section class="bg-[#24274A] relative">
  <div class="w-full">
    <div
      class="flex flex-col gap-[30px] lg:flex-row md:gap-[25px] lg:gap-[170px] justify-between px-[30px] md:px-[65px] pt-[50px] border-b border-white pb-[45px]"
    >
      <div class="flex flex-col gap-[20px] lg:gap-[31px] min-w-fit">
        <p class="font-[600] text-white">CONTACT</p>
        <div class="">
          <div class="flex gap-[23px] items-center mb-[20px] lg:mb-[23px]">
            <div class="h-4 w-4 md:h-full md:w-[unset]">
              <img src="/assets/images/png/phone.png" alt="" />
            </div>
            <a
              class="text-white text-[15px] md:text-[20px] font-normal"
              href="tel:+971 58006861345">+971 580006861345</a
            >
          </div>

          <div class="flex gap-[23px] items-center w-full">
            <div class="h-4 w-4 md:h-full md:w-[unset]">
              <img src="/assets/images/png/email.png" alt="" />
            </div>
            <a
              class="text-white text-[15px] md:text-[20px] font-normal"
              href="mailto:citi2.0@gmail.com">citi2.0@gmail.com</a
            >
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-[20px] lg:gap-[31px]">
        <p class="font-[600] text-white">ADDRESS</p>
        <div class="max-w-[284px]">
          <p class="text-white text-[15px] md:text-[20px] font-normal">
            1234 Elm Street, Apt. 567, Lorem -6548512
          </p>
          <p class="text-white text-[15px] md:text-[20px] font-normal">India</p>
        </div>
      </div>
    </div>
    <div class="px-[30px] md:px-[65px] py-[30px] flex lg:justify-center">
      <div>
        <img
          src="/assets/img/svg/madhyamam-footer-logo.svg"
          class="mb-[17px]"
          alt=""
        />
        <p class="text-white text-[15px] md:text-[20px] font-light">
          © 2024, CITI2.0 | All rights reserved
        </p>
        <a
          href="https://conferenceprime.com/"
          class="text-white text-[15px] md:text-[20px] font-light"
        >
          Designed and Developed by Conference Prime
        </a>
      </div>
    </div>
    <div class="absolute bottom-0 right-0">
      <img src="/assets/img/svg/footer-brand-pattern.svg" alt="" />
    </div>
  </div>
</section>
