<div
  class="bg-[url('/assets/images/png/hero-bg.png')] bg-cover bg-no-repeat relative bg-center"
>
  <div class="pt-[252px] pl-[191px] pb-[193px] pr-[500px] relative z-10">
    <p class="font-medium text-[62px] leading-[74px] text-white">
      Calicut Innovation & Technology Initiative 2.0 <span
        class="text-[#30FFA8]">(CITI 2.O)</span
      >
    </p>

    <p
      class="text-[24px] leading-[38px] font-normal text-white pt-[25px] pb-[58px]"
    >
      In a strategic alliance comprising nine key stakeholders and with the
      robust backing of the Malabar Chamber of Commerce (MCC), a transformative
      initiative has taken shape.
    </p>

    <button
      class="bg-[#30FFA8] py-[19px] px-[146px] text-[24px] rounded-[50px] font-normal"
      >Read More</button
    >
  </div>
  <div
    class="absolute h-full w-full linear-gradient top-0 left-0 right-0 bottom-0"
  >
  </div>
</div>
