<div
  style="clip-path: ellipse(120% 97% at 50% 0%)"
  class="bg-[url('/assets/images/png/hero-bg.png')] bg-cover bg-no-repeat relative bg-center rounded-hero"
>
  <div class="relative">
    <div
      class="xl:pt-[100px] xl:pl-[100px] xl:pb-[193px] 2xl:pb-[230px] xl:pr-[370px] relative z-10 md:p-[90px] p-[40px] pb-[100px]"
    >
      <p
        class="font-medium text-[28px] md:text-[40px] xl:text-[62px] md:leading-[74px] text-white"
      >
        Calicut Innovation & Technology Initiative 2.0 <span
          class="text-[#30FFA8]">(CITI 2.O)</span
        >
      </p>

      <p
        class="text-[20px] md:text-[18px] xl:text-[24px] leading-[38px] font-normal text-white pt-[25px] pb-[25px] xl:pb-[58px]"
      >
        In a strategic alliance comprising nine key stakeholders and with the
        robust backing of the Malabar Chamber of Commerce (MCC), a
        transformative initiative has taken shape.
      </p>

      <button
        class="bg-[#30FFA8] xl:py-[19px] md:py-[15px] py-[10px] px-[50px] md:px-[100px] xl:px-[146px] text-[19px] xl:text-[24px] rounded-[50px] font-normal"
        >Read More</button
      >
    </div>
    <div
      class="absolute h-full w-full linear-gradient top-0 left-0 right-0 bottom-0"
    >
    </div>
  </div>
</div>
