---
import Card from "./small-components/Card.astro";
import LeadersCard from "./small-components/LeadersCard.astro";
import PartnerCard from "./small-components/PartnerCard.astro";
import SubHeading from "./small-components/SubHeading.astro";
---

<div class="bg-white p-[40px] xl:px-[82px] xl:pt-[85px] xl:pb-[100px]">
    <SubHeading title="Our" span="Partners" />

    <div>
        <div
            class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 md:gap-[33px]"
        >
            <PartnerCard src="/assets/images/partners/cafit.png" />
            <PartnerCard src="/assets/images/partners/NIT-Calicut.png" />
            <PartnerCard src="/assets/images/partners/IIMK-Calicut.png" />
            <PartnerCard src="/assets/images/partners/KSITI.png" />
            <PartnerCard src="/assets/images/partners/CREDAI.png" />
            <PartnerCard src="/assets/images/partners/CYBER_PARK.png" />
            <PartnerCard
                src="/assets/images/partners/calicut-managment-association.png"
            />
            <PartnerCard src="/assets/images/partners/UL-CYBER.png" />
            <PartnerCard src="/assets/images/partners/MALABAR-CHAMBER.png" />
        </div>
    </div>
</div>
